.label {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

.input {
  background-color: #3c3c3c;
  border: 1px solid #40404053;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px;
  padding-right: 3.5rem;
  width: 100%;
}

.input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}