.label {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.input {
  background-color: #2B2B2B;
  border: 1px solid var(--light-grey-border);
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px;
  width: 100%;
}

.input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}