.openMenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}


.menuBars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  color: white;
}


.navMenu {
  background-color: #151515;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.navMenuActive {
  background-color: #151515;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  left: 0;
  transition: 450ms;
}


.navMenuItens {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 7rem;
  margin-left: 1.6rem;
}



.navbarToggle {
  position: fixed;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer
}
