.openMenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}


.menuBars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  color: white;
}


.navMenu {
  background-color: var(--dark-primary-color);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.navMenuActive {
  background-color: var(--dark-primary-color);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  left: 0;
  transition: 450ms;
}


.navMenuItens {
  font-weight: 600;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3rem;
  gap: 1.7rem;
  width: 100%;
}



.navbarToggle {
  position: fixed;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer
}

.menuSearch {
  position: absolute;
  top: 7rem;
}

@media screen and (min-width: 1024px) {
  .menuSearch {
    display: none;
  }

  .navMenuItens {
    justify-content: center;
    gap: 2rem;
  }

}
