.loginForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.formTitle {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.loginButton {
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 1.2rem;
  margin-top: 1.6rem;
  width: 100%;
}