.button {
  padding: 1rem;
  font-size: 2rem;
  background-color: lightskyblue;
  color: black;
}

.active {
  padding: 1rem;
  font-size: 2rem;
  background-color: rgb(255, 85, 204);
  color: black;
}