.container {
  background-color: #151515;
  box-shadow: 0px 4px 10px 0px rgba(70, 70, 70, 0.093);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  width: 100vw;
  height: 4.5rem;
  position: fixed;
}

.logo {
  color: #9500db;
  font-weight: 800;
  font-size: 1.6rem;
}
