.searchBar {
  background: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--light-grey-border);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.151) 0px 1px 2px 0px;
  color: #fff;
  
  font-size: 1.3rem;
  font-weight: 600;
  outline: none;
  padding: 1.5rem;
  
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
  margin-right: 2rem;
}

.searchBar::placeholder {
  color: var(--font-color);
  font-size: 1.3rem;
  font-weight: 600;
}
