.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  gap: 2.4rem;
  padding: 20px;
  margin: 0 auto;
  
  min-width: 400px;
  max-height: 700px;
}

.title {
  color: #fff;
  margin-top: 1rem;
  font-size: 2.4rem;
}

.formGroup {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}


.registerLink {
  color: var(--font-color);
  font-size: 1.1rem;
}

.createButton {
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.createButton:hover {
  text-decoration: underline;
}
