.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2c;
  border-radius: 8px;
  gap: 2.4rem;
  padding: 20px;
  margin: 0 auto;
  min-width: 400px;
  min-height: 400px;
  position: relative;
}

.title {
  color: #fff;
  margin-top: 1rem;
  font-size: 2.4rem;
}

.formGroup {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.createButton {
  font-size: 1.1rem;
  color: #fff;
}

.createButton:hover {
  text-decoration: underline;
}

.resetSuccess {
  color: var(--secondary-color);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.resetError {
  color: var(--secondary-color);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.loginLink {
  color: var(--font-color);
  font-size: 1.4rem;
  margin-top: 16px;
}

.loginLink:hover {
  text-decoration: solid;
}
